{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href={% static "base.css" %}>
    {% block styles %}{% endblock  %}
    <script type="module" src={% static "starrating.js" %} defer></script>
    {% block jsscript %}{% endblock %}
</head>
<body>
    <header>
        <h2 class='title'>WebSite Reviews</h2>
        <nav>
            <ul  class='head-nav'>
                {% url 'index' as index_url %}
                {% if request.path != index_url %}<li class="link-main"><a href="{% url "index" %}">Register</a></li>{% endif %}
                <li class="link-main"><a href="{% url "listreview" %}">All reviews</a></li>
            </ul>
        </nav>
    </header>
    <hr width="98%" class="header-line">
    <main>
        <section class='main-form'>
            {% block main %}{% endblock %}
        </section>
    </main>
    
    <footer>
        <hr width="98%" class="header-line">
        <h3>@Corporation</h3>
    </footer>
    
</body>
</html>