* {
    @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
}
header{
    background-color: rgba(236, 236, 236, 0.212);
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
header h2{
    font-weight: 800;
}
.header-line{
    margin-left: 1%;
}
.title{
    margin-left: 20px;
}
nav{
    min-width: 200px;
}

.head-nav{
    margin-right: 40px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
 .main-form{
    margin-top: 3em;
    min-height: 70vh;
}
footer{
    background-color: rgba(236, 236, 236, 0.212);
    position: relative;
    width: 100%;
}
footer h3{
    margin: 1rem 40em;
}

.link-main{
    padding: 5px;
}

.link-main a{
    color: rgb(36, 0, 56);
    padding: 7px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.link-main a:hover{
    background-color: rgba(44, 57, 65, 0.945);
    text-decoration: underline;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

