{% extends "base.html" %}
{% load static %}
{% block styles  %}
    <link rel="stylesheet" href={% static "review\detailsview.css" %}>
{% endblock %}
{% block jsscript %}
    <script src={% static "review\manip_stars.js" %} defer></script>
{% endblock %}
{% block main %}
<section class='detail'>
    <div>
        <figure class='portfolio-img'>
            <img src="{{ review.profile_image.url }}" width="200px">
        </figure>
        <div class='detail-card'>
            <h2 class='reviewer-name'>{{ review.user_name | title }}</h2>
            <p class='web-url'><a href="{{ review.web_url }}">{{ review.web_url }}</a></p>
            <div class="stars">
                <span>★</span>
                <span>★</span>
                <span>★</span>
                <span>★</span>
                <span>★</span>
            </div>
            <!-- rating is hidden here the value from this element readed
            from the js script and applied to active the stars-->
            <p id='rating' class='rating'>{{ review.rating }}</p>
            <div class='review-cont'>
                <p>{{ review.user_review | linebreaks}}</p>
            </div>
        </div>
    </div>
</section>    
{% endblock %}